@page "{searchString?}"
@model Lab3.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="BookTitle" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <label>Title: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].publication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].authorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].publisherID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].coverpage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisherID)
            </td>
            <td>
                <img src="@item.coverpage" alt="Cover for @item.Title" style="width:100px; height:auto;" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
